apps/web/n8n/workflow-b-inactivity-reminder.json
{
  "name": "IELTS — Inactivity Reminder",
  "nodes": [
    {
      "id": "b1c2d3e4-0001-4000-8000-100000000001",
      "name": "Every 12 Hours",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [240, 300],
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "hours",
              "hoursInterval": 12
            }
          ]
        }
      }
    },
    {
      "id": "b1c2d3e4-0002-4000-8000-100000000002",
      "name": "Fetch Reminder Payload",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [460, 300],
      "parameters": {
        "method": "GET",
        "url": "={{ $env.IELTS_APP_URL }}/api/weekly-summary",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            { "name": "trigger", "value": "inactivity_3d" },
            { "name": "format",  "value": "reminder" }
          ]
        },
        "options": { "timeout": 15000 }
      }
    },
    {
      "id": "b1c2d3e4-0003-4000-8000-100000000003",
      "name": "API OK?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [680, 300],
      "parameters": {
        "conditions": {
          "combinator": "and",
          "conditions": [
            {
              "id": "cond-ok",
              "leftValue": "={{ $json.ok }}",
              "rightValue": true,
              "operator": { "type": "boolean", "operation": "equals" }
            }
          ]
        }
      }
    },
    {
      "id": "b1c2d3e4-0004-4000-8000-100000000004",
      "name": "Inactive 3+ Days?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [900, 200],
      "parameters": {
        "conditions": {
          "combinator": "or",
          "conditions": [
            {
              "id": "cond-days",
              "leftValue": "={{ $json.data.reminder.daysSinceLastSession }}",
              "rightValue": 3,
              "operator": { "type": "number", "operation": "gte" }
            },
            {
              "id": "cond-anomaly",
              "leftValue": "={{ $json.data.reminder.hasRecurringAnomalies }}",
              "rightValue": true,
              "operator": { "type": "boolean", "operation": "equals" }
            },
            {
              "id": "cond-first",
              "leftValue": "={{ $json.data.reminder.isFirstSession }}",
              "rightValue": true,
              "operator": { "type": "boolean", "operation": "equals" }
            }
          ]
        }
      }
    },
    {
      "id": "b1c2d3e4-0005-4000-8000-100000000005",
      "name": "Route by Urgency",
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3,
      "position": [1120, 120],
      "parameters": {
        "mode": "rules",
        "rules": {
          "rules": [
            {
              "conditions": {
                "combinator": "and",
                "conditions": [
                  {
                    "id": "sw-urgent",
                    "leftValue": "={{ $json.data.reminder.urgency }}",
                    "rightValue": "urgent",
                    "operator": { "type": "string", "operation": "equals" }
                  }
                ]
              },
              "renameOutput": true,
              "outputKey": "urgent"
            },
            {
              "conditions": {
                "combinator": "and",
                "conditions": [
                  {
                    "id": "sw-maintenance",
                    "leftValue": "={{ $json.data.reminder.urgency }}",
                    "rightValue": "maintenance",
                    "operator": { "type": "string", "operation": "equals" }
                  }
                ]
              },
              "renameOutput": true,
              "outputKey": "maintenance"
            }
          ]
        },
        "fallbackOutput": "none"
      }
    },
    {
      "id": "b1c2d3e4-0006-4000-8000-100000000006",
      "name": "Send Urgent Reminder",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [1360, 60],
      "parameters": {
        "method": "POST",
        "url": "={{ $env.DISCORD_WEBHOOK_URL_IELTS }}",
        "sendBody": true,
        "contentType": "json",
        "body": "={{ JSON.stringify($('Fetch Reminder Payload').item.json.data.formatted.discord) }}",
        "options": { "timeout": 5000 }
      }
    },
    {
      "id": "b1c2d3e4-0007-4000-8000-100000000007",
      "name": "Send Standard Reminder",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [1360, 200],
      "parameters": {
        "method": "POST",
        "url": "={{ $env.DISCORD_WEBHOOK_URL_IELTS }}",
        "sendBody": true,
        "contentType": "json",
        "body": "={{ JSON.stringify($('Fetch Reminder Payload').item.json.data.formatted.discord) }}",
        "options": { "timeout": 5000 }
      }
    },
    {
      "id": "b1c2d3e4-0008-4000-8000-100000000008",
      "name": "Maintenance — Skip",
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [1360, 340],
      "parameters": {}
    },
    {
      "id": "b1c2d3e4-0009-4000-8000-100000000009",
      "name": "Recently Active — Skip",
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [1120, 360],
      "parameters": {}
    },
    {
      "id": "b1c2d3e4-0010-4000-8000-100000000010",
      "name": "API Error — Skip",
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [900, 420],
      "parameters": {}
    }
  ],
  "connections": {
    "Every 12 Hours": {
      "main": [[{ "node": "Fetch Reminder Payload", "type": "main", "index": 0 }]]
    },
    "Fetch Reminder Payload": {
      "main": [[{ "node": "API OK?", "type": "main", "index": 0 }]]
    },
    "API OK?": {
      "main": [
        [{ "node": "Inactive 3+ Days?",  "type": "main", "index": 0 }],
        [{ "node": "API Error — Skip",   "type": "main", "index": 0 }]
      ]
    },
    "Inactive 3+ Days?": {
      "main": [
        [{ "node": "Route by Urgency",       "type": "main", "index": 0 }],
        [{ "node": "Recently Active — Skip", "type": "main", "index": 0 }]
      ]
    },
    "Route by Urgency": {
      "urgent":      [{ "node": "Send Urgent Reminder",   "type": "main", "index": 0 }],
      "maintenance": [{ "node": "Maintenance — Skip",     "type": "main", "index": 0 }],
      "main":        [{ "node": "Send Standard Reminder", "type": "main", "index": 0 }]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "saveManualExecutions": true,
    "callerPolicy": "workflowsFromSameOwner"
  },
  "meta": {
    "templateCredsSetupCompleted": false,
    "instanceId": ""
  },
  "id": "ielts-inactivity-reminder-v1",
  "tags": [{ "name": "ielts" }, { "name": "reminder" }],
  "_comment": {
    "env_vars_needed": [
      "IELTS_APP_URL              — e.g. https://your-app.vercel.app",
      "DISCORD_WEBHOOK_URL_IELTS  — Discord channel webhook URL"
    ],
    "gate_logic": {
      "Inactive 3+ Days?": "OR gate — fires when ANY of: daysSinceLastSession >= 3, OR hasRecurringAnomalies = true (recurring anomaly overrides inactivity threshold), OR isFirstSession = true (nudge new users regardless of days). Adjust thresholds here without touching application code.",
      "Route by Urgency": "Switch routes urgent (anomaly pattern) to a dedicated high-priority Discord channel. Maintenance users are skipped — they're already improving. Normal falls through the 'else' output.",
      "Send Urgent vs Standard": "Both use the same formatted.discord payload. If you want a different channel for urgent, replace DISCORD_WEBHOOK_URL_IELTS with DISCORD_WEBHOOK_URL_URGENT in the urgent branch."
    },
    "extending": {
      "email": "Add an EmailSend node parallel to 'Post to Discord'. Subject: {{ $('Fetch Reminder Payload').item.json.data.formatted.email.subject }}. Body: {{ $('Fetch Reminder Payload').item.json.data.formatted.email.plaintext }}",
      "daily_variant": "Change schedule to every 24 hours and adjust the daysSinceLastSession threshold to 1 for a daily nudge workflow.",
      "deduplication": "To avoid duplicate notifications, add a 'Remember Last Notified Day' node pair (KV store or Airtable) before the Inactive 3+ Days? check."
    }
  }
}
